# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: ^\.clang-(format|tidy)$
    -   id: check-added-large-files

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  # Clang-format for C++
  # This brings in a portable version of clang-format.
  # See also: https://github.com/ssciwr/clang-format-wheel
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.6
    hooks:
    - id: clang-format
      types_or: [c++, c, json]

  # CMake code formatting
  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.23.2
    hooks:
    - id: gersemi
      name: CMake formatting

  # first Python sort imports
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  # second Python code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
